<div class="card">

    <h2>Словари</h2>

    <table class="table">

        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Размер</th>
        </tr>
        </thead>

        <tbody>

        {{range .Others}}

        <tr>

            <td>
                <input
                    type="checkbox"
                    class="dictionary"
                    value="{{.Path}}">
            </td>

            <td>{{.Name}}</td>

            <td>{{.Size}}</td>

        </tr>

        {{end}}

        </tbody>

    </table>

</div>
