<div class="card">

    <h2>Очередь атак</h2>

    <div id="queue">

    {{if .Queue}}

        {{range .Queue}}

        <div class="job-card">

            <div><strong>ID:</strong> {{.ID}}</div>

            <div><strong>Hash:</strong> {{.HashFile}}</div>

            <div><strong>Dictionary:</strong> {{.Dictionary}}</div>

            <div><strong>Status:</strong> {{.State}}</div>

            <div><strong>Started:</strong> {{.Started}}</div>

            <div><strong>Finished:</strong> {{.Finished}}</div>

        </div>

        <br>

        {{end}}

    {{else}}

        <div class="job-card">

            Очередь пуста

        </div>

    {{end}}

    </div>

</div>
