<div class="card">

    <h2>Файлы хешей</h2>

    <form id="attackForm">

        <table class="table">

            <thead>
            <tr>
                <th></th>
                <th>Файл</th>
                <th>Размер</th>
                <th>Статус</th>
            </tr>
            </thead>

            <tbody>

            {{range .Uploads}}

            <tr>

                <td>
                    <input
                        type="radio"
                        name="hashfile"
                        value="{{.Name}}">
                </td>

                <td>{{.Name}}</td>

                <td>{{.Size}}</td>

                <td>{{.Status}}</td>

            </tr>

            {{end}}

            </tbody>

        </table>

    </form>

</div>
